# Streamlit & CoinGecko API Example

# Introduction

This notebook demonstrates how to interact with the CoinGecko API using a custom wrapper module `Streamlit_utils`. It provides practical examples of retrieving cryptocurrency data, calculating financial metrics, and detecting anomalies for enhanced crypto analysis.

## Notebook Objectives
- Access live and historical cryptocurrency data
- Calculate moving averages and technical indicators
- Identify anomalies in market behavior
- Showcase API usage through wrapper functions

## Notebook Flow
1. **Setup and Imports** – Load required modules and utility functions
2. **Fetch Current Price** – Retrieve live data for Bitcoin
3. **Historical Data** – Load 30-day historical data
4. **Moving Average Calculation** – Smooth price trends over time
5. **Technical Indicators** – Calculate common indicators (e.g., RSI, MACD)
6. **Anomaly Detection** – Flag unusual data points

## References
- CoinGecko API documentation: https://www.coingecko.com/en/api/documentation
- Pandas documentation: https://pandas.pydata.org/
- TA-Lib Python Module: https://technical-analysis-library-in-python.readthedocs.io/en/latest/

## Citations
- CoinGecko. (2024). *CoinGecko API v3*. Retrieved from https://www.coingecko.com/en/api/documentation

## Further Reading
- Investopedia on Moving Averages: https://www.investopedia.com/terms/m/movingaverage.asp
- Investopedia on Technical Analysis: https://www.investopedia.com/terms/t/technicalanalysis.asp

## Notebook Setup and Imports
This section sets up the notebook environment and imports core utility functions needed for interacting with the CoinGecko API via the custom `Streamlit_utils` wrapper.

In [1]:
# Fetch current price data using wrapper function.
from Streamlit_utils import get_current_price, get_historical_data, calculate_moving_average, calculate_technical_indicators, detect_anomalies

## Fetch Current Price

In [2]:
# Fetch current price data using wrapper function.
current_price_btc = get_current_price('bitcoin')
print('Current Bitcoin Price:', current_price_btc)

Current Bitcoin Price: 94967

## Fetch Historical Data

In [3]:
# Retrieve historical market data.
historical_data_btc = get_historical_data('bitcoin', days=30)
historical_data_btc.head()

        date         price
0 2025-03-30  82450.582407
1 2025-03-31  82333.024014
2 2025-04-01  84013.934388
3 2025-04-02  85143.010956
4 2025-04-03  82787.444561

## Calculate Moving Average

In [4]:
# Calculate moving average over specified window.
ma_data = calculate_moving_average(historical_data_btc, window=7)
ma_data.head()

        date         price  moving_average
0 2025-03-30  82450.582407    82450.582407
1 2025-03-31  82333.024014    82391.803211
2 2025-04-01  84013.934388    82932.513603
3 2025-04-02  85143.010956    83485.137941
4 2025-04-03  82787.444561    83345.599265

## Calculate Technical Indicators

In [16]:
# Compute technical indicators for the data.
technical_data = calculate_technical_indicators(historical_data_btc)
technical_data.head()

        date         price  RSI  MACD  MACD_signal  BB_upper  BB_lower
0 2025-03-30  82450.582407  NaN   NaN          NaN       NaN       NaN
1 2025-03-31  82333.024014  NaN   NaN          NaN       NaN       NaN
2 2025-04-01  84013.934388  NaN   NaN          NaN       NaN       NaN
3 2025-04-02  85143.010956  NaN   NaN          NaN       NaN       NaN
4 2025-04-03  82787.444561  NaN   NaN          NaN       NaN       NaN

## Detect Anomalies

In [6]:
# Detect anomalies in the dataset.
anomaly_data = detect_anomalies(historical_data_btc)
anomaly_data[anomaly_data['anomaly']].head()

        date         price   price_diff   z_score  anomaly
8 2025-04-07  77695.173397 -4306.235879 -3.010134     True